<!DOCTYPE html>
<html lang="en" ng-app="alloy" class="no-js">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cntx</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#333333">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Cntx">
    <script type="text/javascript">
        // preload them images
        // preloads = "about,contact,login".split(",")
        // var tempImg = []
        // for(var x=0;x<preloads.length;x++) {
        //     tempImg[x] = new Image()
        //     tempImg[x].src = '/assets/images/'+preloads[x]+".jpg"
        // }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="assets/styles/bs4.1.1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="app.css">
</head>
<body id="body">
  <div class="container-fluid">
    <div ng-view autoscroll></div>
  </div>
  <!--HOME-->  
  <script type="text/ng-template" id="home.html">
    <div class="row"> 
      <div class="col-md-9">
        <div class="row">
          <div class="col text-primary h3" style="padding-top: 5px;">{{currentCtx.name || currentTitle}}</div>
          <div class="col-4 text-right" style="margin-top: 10px;">
            <button class="btn btn-sm text-danger btn-link" ng-click="deleteCntx(currentCtx)" ng-show="currentCtx._id">Delete Cntx</button>
            <button class="btn btn-sm btn-primary" ng-click="toggle('.new-note','.new-note-editor')" ng-show="currentCtx._id">New Note</button>
          </div>
        </div>
        <!--NEW NOTE-->
        <div class="new-note rounded" style="padding-left: 10px; display: none;" >
          <b>Markdown Note</b>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <textarea ng-model="newNoteData.content" class="form-control new-note-editor" rows="10" placeholder="Lorem loved ipsum"></textarea>
              </div>
              <div class="col-md-6 border border-default rounded">
                <div markdown-to-html="(newNoteData.content || '')" class="md-preview"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="errors text-danger" style="display: none;">
                  <div ng-repeat="err in errMsgs">{{err}}<br /></div>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <br />
                <button class="btn btn-sm btn-link btn-primary" ng-click="toggle('.new-note','.new-note-editor')">Cancel</button>
                <button class="btn btn-sm btn-primary new-note-save" ng-click="newNote()">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!--NOTE LIST-->
        <div class="note-block" ng-repeat="note in notes | orderBy: '-ts' | filter: (!!currentCtx._id || undefined) && {cntxId: currentCtx._id}">
          <div class="text-right"><small>{{note.ts | date:'short'}}&nbsp;&ndash;&nbsp;{{note.ts | timeago}}</small></div>
          <div style="margin-top: -23px;" markdown-to-html="note.content"></div>
        </div>
        <div ng-show="filteredPostsCount > 0">
          No posts found
        </div>
      </div>
      <div class="col-md-3">
        <div class="row" style="margin-top: 7px;">
          <div class="col-md-3"><h2 class="text-primary">CNTXs</h2></div>
          <div class="col text-right"><button class="btn btn-sm btn-primary" ng-click="toggle('.new-cntx','.new-cntx-editor')"><span>New Cntx</span></button></div>
        </div>
        <!--NEW CNTX-->
        <div class="new-cntx" style="display: none;">
          <input type="text" class="new-cntx-editor" ng-model="newCntxData.title" />
          <button class="btn btn-sm btn-primary new-cntx-save" ng-click="newCntx()">Save</button>
          <button class="btn btn-sm btn-link btn-primary" ng-click="toggle('.new-cntx','.new-cntx-editor')">Cancel</button>
          <div class="errors-cntx text-danger" style="display: none;">
            <div ng-repeat="err in errMsgsCntx">{{err}}<br /></div>
          </div>
        <br /><br /></div>
        <a href="#" ng-click="setFilter(null)">&gt; Everything &lt;</a>
        <!--CNTX-->
        <span class="cntx-list-container">
          <ul class="cntxlist" dnd-list="cntxs">
            <li class="nobullet" ng-repeat="ctx in cntxs" 
              dnd-draggable="ctx" 
              dnd-moved="cntxs.splice($index, 1)" 
              dnd-effect-allowed="move"
              dnd-dragend="reorderCntx()">
              <div class="row">
                <a class="col-md-6" href="#" ng-click="setFilter(ctx._id)">{{ctx.name}}</a>
                <span class="text-right text-primary col-md-6"><i class="fas fa-arrows-alt-v"></i></span>
              </div>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </script>
  <!--/HOME-->
  <script src="assets/scripts/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jquery.fn.js"></script>
  <script src="app.js"></script>
  <script src="assets/scripts/angular-sanitize.min.js"></script>
  <script src="assets/scripts/ng-showdown.min.js"></script>
  <script src="assets/scripts/angular-drag-and-drop-lists.min.js"></script>
  <script src="controllers.js"></script>
</body>
</html>